.section {
  display: block;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
}
.sponsorLogo {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.sponsorDescription {
  color: white;
  font-family: "Futura-Body";
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

.pageTitle {
  color: white;
  font-family: "Futura-Header";
  text-align: center;
  font-size: 1.5rem;
}
