.section {
  display: block;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
}
.section img {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.section p {
  color: white;
  font-family: "Futura-Body";
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

h5 {
  color: white;
  font-family: "Futura-Header";
  text-align: center;
  font-size: 1.5rem;
}
