.logoContainer {
  position: fixed;
  padding: 1.5rem;
  z-index: 2;
  background-color: black;
  border-bottom: 3px solid #d71e24;
  top: 0;
  right: 0;
  left: 0;
  height: 98px;
}

.dvuLogo {
  width: 20%;
}

@media only screen and (max-width: 420px) {
  .dvuLogo {
    width: 50%;
  }
}

.burgerMenu {
  position: fixed;
  right: 5%;
  top: 5%;
  z-index: 2;
}

.burgerMenuIcon {
  color: white;
  background-color: transparent;
  border: none;
}

.menu {
  position: fixed;
  background-color: #c4c4c4;
  width: 50%;
  height: 100vh;
  text-align: center;
  padding-top: 1rem;
  right: 0;
  z-index: 2;
  top: 0;
  bottom: 0;
}

.slideInRight {
  animation-name: SlideInRight;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

.slideOutRight {
  animation-name: SlideOutRight;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

.showTransparentOverlay {
  position: absolute;
  background-color: black;
  opacity: 0.5;
  width: 50%;
  left: 0;
  height: 100vh;
  z-index: 2;
}
.hideTransparentOverlay {
  position: absolute;
  width: 0;
  left: 0;
  height: 0;
  z-index: 2;
}

@media only screen and (min-width: 768px) {
  .menu {
    width: 20%;
  }
  .transparentOverlay {
    width: 80%;
  }
}

.menuItem {
  display: flex;
  text-decoration: none;
  color: #d71e24;
  font-family: "Futura-Body";
  margin-left: 3.125rem;
  margin-right: 3.125rem;
  text-align: center;
  line-height: 2.5rem;
}

.menuItem:hover {
  color: white;
}

@keyframes SlideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes SlideOutRight {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}
